
<div class=" bodyDasbord">

    <div class=" blue darken-4 row titulo">
        <div class="col-12">
             <%= titulo%>
        </div>
    </div>

    <div class=" blue-grey lighten-4 row central">

        <div class="green lighten-5 col-3 cxMenuCentro z-depth-4">
            <div class="container row">
                <div class="col-12">Menu</div>
            </div>
            <div class=" green lighten-5 row cxMenuItem">
                <div class="col-12 cxMenuItem">
                    
                    
                    <ul class="collapsible cxMenuItem">
                        <li class="cxMenuItem">
                          <div class="collapsible-header"><i class="material-icons">filter_drama</i>Agrupamentos</div>
                          <div class="collapsible-body"><span>Tipos</span></div>
                        </li>
                        <li>
                          <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
                          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li>
                        <li>
                          <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li>
                      </ul>

                </div>
            </div>
        </div>

        <div class="col-9">
            
            <%- include('cadastros/tipos') %>
           
            
            
        </div>
    </div>

    <div class="indigo row rodape">
        <footer>
            <div class="footer-copyright">
                <div class="container">
                © 2014 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
                </div>
              </div>
        </footer>
    </div>

</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems, '');
  });


</script>
