<div id="modal1" class="cxFormBusca blue-grey darken-1 modal">
    <div class="row brrTitulosForm">
      <div class="col-12 ">
        Tipos
      </div>
    </div>
    <div class="row ">
        <div class="col-2 ">
          Filtros: 
        </div>
        <div class="col-10">
            <label>
              <input type="checkbox" />
              <span>Red</span>
            </label>
                   ||
            <label>
              <input type="checkbox" />
              <span>Red</span>
            </label>
                |
            <label>
              <input type="checkbox" />
              <span>Red</span>
            </label>
          
        </div>
    </div>
    <div class="row green">
        <div class="col-2 ">
          Filtros: 
           
          
        </div>
        <div class="col-10">
            <ol><li> <div class="input-field col s12">
                <select multiple>
                  <option value="" disabled selected>Choose your option</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select>
                <label>Materialize Multiple Select</label>
              </div></li></ol>
            <table class="table" style="display: block;">
                <tr>
                    <td>Categoria</td> 
                    <td>
                        <div class="input-field col s12">
                            <select multiple>
                              <option value="" disabled selected>Choose your option</option>
                              <option value="1">Option 1</option>
                              <option value="2">Option 2</option>
                              <option value="3">Option 3</option>
                            </select>
                            <label>Materialize Multiple Select</label>
                          </div>
                    </td>
                </tr>
                <tr>
                    <td>Grupo</td> 
                    <td>
                        <select>
                            <option value="1">Grupo1</option>
                            <option value="1">Grupo2</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Tipos</td> 
                    <td>
                        <select>
                            <option value="1">Estoque</option>
                            <option value="1">Gerais</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Status</td> 
                    <td>
                        <select>
                            <option value="1">Ativo</option>
                            <option value="1">Inativo</option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row cxCentroForm blue ">
      <div class="col-2 container cxMenuForm green">
        <input type="text" value=""><div><a class="waves-effect waves-light btn modal-trigger" href="#modal1">Localizar</a></div>
        <ul>
          <li><button>Incluir</button></li>
          <li><button>Cancelar</button></li>
          <li><button>Relatórios</button></li>
          <li><button>Gravar</button></li>
        </ul>
      </div>
      <div class="col-10 cxDadosForm blue-grey">
  
  
      </div>
    </div>
    <div class="row cxRodapeForm indigo">
      <div class="col-3">|<</div>
      <div class="col-3"><</div>
      <div class="col-3">></div>
      <div class="col-3">>|</div>
    </div>
  </div>